* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Netflix sans',Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

body {
    background-color: black;
}

.main-content-container {
    background-image: url(../img/main-netflix-movies.jpg);
    /* filter: brightness(50%); */
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5)), url('../img/main-netflix-movies.jpg');
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 167px  23px 155px;
    /* border: 3px solid black; */
}

.right-header-container {
    display: flex;
    /* border: 3px solid red; */
    gap: 25px;
    align-items: center;
}

.language-container {
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 13px;
    padding: 4px 8px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .7);
}

.signin {
    background-color: rgb(229, 9, 20);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 15px;
    /* border: 3px solid green; */
}

.language {
    font-size: 18px;
}

.globe,
.language,
.arrow {
    color: white;
}

.signin,
.language-container {
    border-radius: 6px;
    height: 32px;
}

.logo {
    font-size: 44px;
    color: rgb(229, 9, 20);
    font-weight: 900;
}

.hero-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 185px 270px 110px 285px;
}

.hero {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 45px;
    font-weight: 900;
}

.email-container {
    /* border: 3px solid orange; */
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 115px;
}

.get-started-container {
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 6px;
    gap: 5px;
    padding: 18px 25px;
    font-weight: 500;
}

.get-started-text,
.right-arrow {
    font-size: 18px;
}

.email input,
.get-started-container {
    height: 55px;
}

.email input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
    /* border: 3px solid; */
    width: 375px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.hero-subtext {
    font-size: 24px
}

.hero-question {
    font-size: 18px;
}

.hero-text,
.hero-subtext,
.hero-question {
    color: white;
}

.banner {
    height: 145px;
    margin: 0px 75px 0px 75px;
    margin-top: -170px;
    /* border: 3px solid red; */
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
        circle
        
        farthest-corner at 50% 30px,
        rgb(84, 5, 18) 0%,
        rgb(5, 0, 57) 100%
      );
}

.banner-text-container {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.learn-more-container {
    /* border: 3px solid orange; */
    display: flex;
    gap: 5px
}

.popcorn {
    width: auto;
    height: 92px;
}

.banner-hero-text {
    font-size: 18px;
}

.banner-subtext {
    font-size: 16px;
}

.banner-hero-text,
.banner-subtext {
    color: white;
}

.learn-more-text a,
.learn-more-arrow {
    font-size: 16px;
    color: rgb(62, 107, 255);
}

.learn-more-text a {
    font-weight: 700;
}

hr {
    height: 10px;
    background-color: rgb(44, 44, 44);
    border: none;
}

.box-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    padding: 80px 170px;
    gap: 40px;
}

.box-hero-container {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.box-container img {
    height: auto;
    width: 200px;
    flex: 1;
    /* border: 3px solid green; */
}

.box-one img {
    /* border: 3px solid gold; */
    margin-bottom: -75px;
    align-items: baseline;
}

.box-hero-container {
    flex: 1
}

.box-hero-text {
    color: white;
    font-size: 45px;
    font-weight: 900;
}

.box-subtext {
    color: white;
    font-size: 24px
}

.box-hero-container.box-two,
.box-hero-container.box-four {
    order: 1;
}

.box-two img,
.box-four img {
    order: -1;
}
